/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit;
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "../../styles/puma/project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    --color-accent-1,
    --color-background-2;
}

:import {
  -st-from: "@actionishope/shelley/components/InputSelectionControl/inputSelectionControl.st.css";
  -st-default: SelectionControl;
}

:import {
  -st-from: "@actionishope/shelley/components/Grid/grid.st.css";
  -st-default: Grid;
}

:import {
  -st-from: "@actionishope/shelley/components/InputBase/inputBase.st.css";
  -st-default: InputBase;
}

:import {
  -st-from: "@actionishope/shelley/components/Label/label.st.css";
  -st-default: Label;
}

@st-scope Puma {
  .root {}

  .appWrap {
    background: #fff;
    color: #333;
    min-width: 310px;
    max-width: 375px;
    transform: scale(0.8);
    max-height: 75vh;
    transform-origin: center 0;

    background: url("https://ik.imagekit.io/tcvka0ufln/iphone_u7ZlkmbSi.png");
    background: url("https://ik.imagekit.io/tcvka0ufln/iphone-chrome-0.4_B9bCmf0UtEnNQ.png");

    padding: 50px;
    background-size: cover;
  }
}
