/**
 * = Menu - menu.st.css
 * 
 * ========================================================================= */


/* = Default project vars. */
:import {
  -st-from: "@actionishope/shelley/styles/default/project.st.css";
  -st-named:
    --spacing-unit,
}

/* = Shelley project scope and vars. */
:import {
  -st-from: "./project.st.css";
  -st-default: Puma;
  -st-named:
    /* = CSS3 Switcher vars. */
    /* --color-ui-inverse,
    --color-accent-1,
    --color-accent-2,
    --color-accent-3,
    --color-accent-4, */
    --color-background-1,
    --color-background-2;
}

/* = Components */
:import {
  -st-from: "@actionishope/shelley/components/Menu/menuList.st.css";
  -st-default: MenuList;
}

:import {
  -st-from: "@actionishope/shelley/components/Menu/menuItem.st.css";
  -st-default: MenuItem;
}

@st-scope Puma {
  MenuList {
    background: var(--color-background-1);
    /* background: rgb(38 38 38 / 99%); */
  }

  MenuItem[data-selected] {
    background: hsl(211, 81%, 36%);
  }

  [data-reach-menu-popover] {
    z-index: 1000;
  }

}
